<div class="jumbotron center">   
   
    <h2>Welcome To My Everton FC Pinterested App</h2>
         <h5>* Join today and post your own pictures *</h5>

         <% if user_signed_in? %> 
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %> 
              <%= link_to "Edit Profile", edit_user_registration_path,class: 'btn btn-success'  %> 
               <%= link_to 'List Pins', pins_path, class: 'btn btn-primary' %>  
                  
       <% else %>
          <%= link_to "Login", new_user_session_path, class: 'btn btn-success' %> 
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary'%> 
          
        <% end %>
  <br> 

  <div class="responsive-video "><iframe src="//player.vimeo.com/video/48076577" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>  <h3>Nil Satis Nisi Optimum </h3><div> <h5>"nothing but the best is good enough"</h5> 
   <div>
     <h5>Everton football Club</h5>

    
</div>     
  


