<div class="jumbotron center">   
   <h2>Welcome To My Everton FC Pinterested App</h2>
  <img src="https://s3.amazonaws.com/pinterested100662/football.gif?X-Amz-Date=20150214T220212Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=c4d1991e19e7fabf1fe5ed467d32b586ea21a70b27cce1ebc39d86200ee3c09a&X-Amz-Credential=ASIAJ72ZM45KGPMY6H5Q/20150214/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEN///////////wEagAKx%2B/cMCxJqlOdSf2m5G5FMRm7cFFV9Uhhw93vX3PhNa52/7iAWFwDDkTrQjl/tEbX4ZYQJxUgl5tDJnA416ngc5uORGx1qn8k6BmirDTjt1ddQn33uT0zdnqZLqp4l2NLVi50VSfENVH3qNnMaYc9ZmEuseCZCF3QLsnVSRPMC/5yp3NI6Pvi2ilyrPS4Hd2M6nlHloPHNE49aKq/ktMLrSfJLq6BllRTZzJCenh74irKmxtYS85hvEOmN0gZgM7y0uC/UeZZjrJ7iculRKYoRzAXCvtOHsT0Q34AmIwsxYunTcmJ3xaMB5NVB8gzOSIqReRdMbddTx6740LUHjBhKIKX5/qYF" alt="some_text">
         <h5>* Join today and post your own pictures *</h5>

         <% if user_signed_in? %> 
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %> 
              <%= link_to "Edit Profile", edit_user_registration_path,class: 'btn btn-success'  %> 
               <%= link_to 'List Pins', pins_path, class: 'btn btn-primary' %>  
                  
       <% else %>
          <%= link_to "Login", new_user_session_path, class: 'btn btn-success' %> 
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary'%> 
          
        <% end %>
  <br> 

  <div class="responsive-video "><iframe src="//player.vimeo.com/video/48076577" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>  <h3>Nil Satis Nisi Optimum </h3><div> <h5>"nothing but the best is good enough"</h5> 
   <div>
     <h5>Everton football Club</h5>

    
</div>     
  


